<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>图书修改</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="css/page.css">
    <script src="js/jquery-3.3.1.min.js"></script>
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">

        <!-- 引入头部 -->
        <?php require('pages/include/header.html');?>
        <?php require('pages/include/menu.html');?>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">

                <div class="addnew">
                    <a href="main.php?go=booklist" class="layui-btn layui-btn-warm">图书列表</a>
                    <a href="main.php?go=bookadd" class="layui-btn">新书上架</a>
                </div>

                <div style="clear:both;"></div>
                <div class="createBody" style="width:80%;">
                    <form class="layui-form" method="POST" enctype="multipart/form-data" action="main.php">

                        <input type="hidden" name="go" value="book_edit_do">
                        <input type="hidden" name="id" value="<?php echo $id;?>">

                        <div class="layui-form-item">
                            <label class="layui-form-label">选择分类</label>
                            <div style="display:flex;justify-content: flex-start;">                      

                                <div class="layui-input-block" style="width:20%;margin-left: 0px;">
                                    <select name="cclass" id="cclass" lay-verify="required">
                                        <option value="<?php echo $class_cid?>"><?php echo $className?></option>
                                        <?php echo $data;?>
                                    </select>
                                </div>

                            </div>

                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">图书名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="bookname" required lay-verify="required" placeholder="请输入书名"
                                    autocomplete="off" class="layui-input" value="<?php echo $bookname;?>">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">作者</label>
                            <div class="layui-input-inline">
                                <input type="text" name="author" required lay-verify="required" placeholder="请输入作者"
                                    autocomplete="off" class="layui-input" value="<?php echo $author;?>">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">出版社</label>
                            <div class="layui-input-inline">
                                <input type="text" name="public" required lay-verify="required" placeholder="请输入出版社"
                                    autocomplete="off" class="layui-input" value="<?php echo $public;?>">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">价格</label>
                            <div class="layui-input-inline">
                                <input type="text" name="price" required lay-verify="required" placeholder="请输入价格"
                                    autocomplete="off" class="layui-input" value="<?php echo $price;?>">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">上传封面</label>
                            <div class="layui-input-block">
                                <i id="upload-ico" class="layui-icon layui-icon-upload"
                                    style="font-size: 30px; color: #1E9FFF;float: left;padding-right: 20px;"></i>
                                <input type="file" name="poster[]" id="poster" 
                                    style="display:none;" multiple="multiple" accept="image/*">
                                <!-- <button type="button" class="layui-btn" id="test1">
                                        <i class="layui-icon">&#xe67c;</i>上传图片
                                      </button> -->
                                      <div class="layui-form-mid layui-word-aux">如果不改动头像就不用上传</div>
                            </div>
                            
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">上架日期</label>
                            <div class="layui-input-inline">

                                <input type="text" class="layui-input" id="dt" name="dt" placeholder="请选择日期" value="<?php echo $dt;?>">
                            </div>
                        </div>



                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">图书介绍</label>
                            <div class="layui-input-block">
                                <div id="editor">
                                        <?php echo $descript;?>
                                </div>
                                <textarea name="descript" id="descript" style="width:100%; height:0px;display: none;"></textarea>

                                <script src="https://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
                                <script type="text/javascript">

                                    var E = window.wangEditor
                                    var editor = new E('#editor')
                                    var $descript = $('#descript')
                                    editor.customConfig.onchange = function (html) {
                                        // 监控变化，同步更新到 textarea
                                        $descript.val(html)
                                    }
                                    editor.create()
                                    // 初始化 textarea 的值
                                    $descript.val(editor.txt.html())
                                </script>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary" id="ssx">重置</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
   
    <script src="layui/layui.js"></script>

    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
            //监听提交

        });
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                // return false;
            });
        });

        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                elem: '#dt' //指定元素
            });
        });

        // 处理下拉select
        layui.use(['layer', 'form'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var $ = layui.$;

            form.on('select(pclass)', function (data) {

                // 获取当前所选的项目值
                var id = data.value;

                // 使用ajax,根据ID获取二级分类
                $.get('main.php?go=ajax_class_select', { id: id }, function (res) {

                    console.log(res);

                    // 改变二级分类
                    $("#cclass").html(res);

                    // 重新渲染
                    form.render('select');
                })

            });

        });
        $("#upload-ico").click(function () {

            $("#poster").click();

        })



//juery
// $(function(){

//     $("select[name='pclass']").change(function(){

//           console.log('change');

//     })


// })
    </script>



</body>

</html>